<nav class="navbar sticky-top shadow navbar-expand-sm navbar-light bg-light">
    <div class="container-sm">
      <a class="navbar-brand text-primary fw-bold " href="/">
        <i class="bi bi-palette2 text-primary "></i> 
        Amber West Digital
      </a>
      <div>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasNav" aria-controls="offcanvasNav" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="offcanvas offcanvas-end" id="offcanvasNav" tabindex="-1" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Links</h5>
            <button class="btn-close" data-bs-dismiss="offcanvas"></button>
          </div>
          <div class="offcanvas-body">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="services.html" aria-current="page">Services
                  <span class="visually-hidden">Services</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html" aria-current="page">About
                  <span class="visually-hidden">About</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="careers.html" aria-current="page">Careers
                  <span class="visually-hidden">Careers</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="contact.html" aria-current="page">Contact
                  <span class="visually-hidden">Contact</span></a>
              </li>             
            </ul>
            <button class="btn-primary bg-primary text-white rounded-1 d-sm-none" onclick="window.scrollTo(0, 0)" data-bs-dismiss="offcanvas">Back to top</button>
          </div>
        </div>
      </div>
    </div>
  </nav>