<section id="contact" class="container" style="max-width: 36rem;">
    <form class="rounded-2 border border-2 p-4 shadow-lg bg-light">
      <div class="row mb-4">
        <h2 class="text-primary fw-bold">Contact Form</h2>
        <small class="text-muted">Schedule a consultation</small>
      </div>
      <div class="row">
        <div class="col-12 col-md">
          <div class="mb-3">
            <label for="fullName" class="form-label">Full Name</label>
            <input type="text" class="form-control" name="fullName" id="fullName" aria-describedby="full-name-help"
              placeholder="" />
          </div>
        </div>
        <div class="col">
          <div class="mb-3">
            <label for="contactNumber" class="form-label">Contact Number</label>
            <input type="tel" class="form-control" name="contactNumber" id="contactNumber"
              aria-describedby="help-contact" placeholder="09xxxxxxxxx" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
            placeholder="johndoe@email.com" />
        </div>
      </div>
      <div class="row">
        <div class="mb-3">
          <label for="queryType" class="form-label">Query Type</label>
          <select class="form-select form-select-sm" name="queryType" id="queryType">
            <option value="option-develop">I would like to consult about web development</option>
            <option value="option-design">I would like to consult about design</option>
            <option value="option-seo">I would like to consult about SEO</option>
            <option value="option-support">I would like to request technical support for my own website</option>
          </select>
        </div>
      </div>
      <div class="mb-3 form-floating">
        <textarea class="form-control" name="inputOtherConcerns" id="inputOtherConcerns"
          placeholder="Tell us more details..." style="height: 8rem;"></textarea>
        <label for="inputOtherConcerns">Other concerns</label>
      </div>
      <div class="row justify-content-center ">
        <button type="button" class="btn btn-primary w-auto px-5">
          Submit form
        </button>

      </div>
    </form>
  </section>