<section class="container d-flex flex-column align-items-center mb-5" id="cta">
    <div id="banner" class="container mb-3 banner p-3" style="max-width: 42rem;">
      <p class="text-white fs-3 fw-bold ">The internet awaits you.</p>
      <div class="row d-flex text-end"><small class="text-white">Amber West Digital</small></div>
    </div>
    <div class="row mb-5">
      <a href="/contact" class="btn btn-outline-primary w-auto px-3">
        Schedule a consultation <i class="bi bi-arrow-right-short"></i>
      </a>
    </div>
  </section>